/* GENERAL STYLES */
body {
	font-family: Arial, San-serif;
	font-size: 100%;	
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h2, p {
	font-size: 15px;
	line-height: 1.3em;
	color: #004160;
}
.container {
	margin: 0 auto;
	width: 960px;
}

/* HEADER */
.header {
	padding: 20px 0;
	background: url(../../images/header2_1800.jpg) no-repeat center;	
}
.header h1,
.header h2 {
	color: #ffffff;
	text-align: center;
}

/* NAVIGATION */
.page-navigation {
	background-color: #4E9CB5;	
	min-height: 30px;
}
.page-navigation li {
	float: left;
	width: 100px;
}
.page-navigation a {
	display: block;
	color:  #ffffff;
	line-height: 2em;
	text-align: center;
}
.page-navigation li a:hover {
	color: #00718D;	
}
/* MAIN PART */
@media screen and (max-device-width: 600px) {
.container {
	width: 95%;
}
.h2 {
	text-align: center;
	font-size: 35px;
	margin: 20px 0 15px 0 ;
}
.depart h3 {
	font-size: 32px;
}
.image {
	width: 100%;
}
.depart-title {
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	color: #004160;
}
.text {	
	margin-bottom: 2px;
}
p {
	font-size: 30px;	
}

.depart {	
	margin-bottom: 5px;
	border-bottom: 2px solid #7DAFFF;
}
button {
    border: 2px solid #7DAFFF;
	height: 35px;
	border-radius: 18px;
	background-color: #ffffff ;	
	cursor: pointer;
	margin: 0 0 10px 0;
	color: #7DAFFF;	
	display: block;		
}
}
@media screen and (min-device-width: 601px) {

.h2 {
	text-align: center;
	font-size: 40px;
	line-height: 1em;
	margin: 20px 0 10px 0 ;
}
.container img:hover {
	transform: scale(1.01);	
}

.image {
	float: left;
	width: 67%;
	margin-right: 20px;
	padding-top: 20px;
}

.depart {
	display: inline-table;	
	padding-bottom: 13px;
	border-bottom: 4px solid #7DAFFF;
}

.depart-title {
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	color: #004160;
}
button {
	border: 3px solid #7DAFFF;
	height: 35px;
	border-radius: 18px;
	background-color: #ffffff ;	
	cursor: pointer;
	margin-top: 5px;
	color: #7DAFFF;
	font-weight: bold;	
	display: block;	
}
}

button:hover {
	background-color: #7DAFFF;
	color: #ffffff;	
}
.button_back {
	text-align: center;
	
}

.fb-like {
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
}
/* FOOTER */
.footer {	
	padding: 20px 10px 5px;	
}
.footer p {
	font-size: 10px;
	color: gray;	
}
