/* GENERAL STYLES */
body {
	font-family: Arial, San-serif;
	font-size: 100%;		
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
p {
	font-size: 13px;
	line-height: 1.3em;
	color: #004160;
}
.container {
	margin: 0 auto;
	width: 960px;
}

/* HEADER */
@media screen and (min-device-width: 601px)  {
.header {
	padding: 20px 0;
	background: url(../../../images/header2_1800.jpg) no-repeat center;	
}
}
@media screen and (max-device-width: 600px) {
.header {
	background: url(../../../images/header2_1800.jpg) no-repeat center;
	width: 100%;
	height: 60px;
	padding-top: 10px;
}
h1 {
	font-size: 35px;
	margin-top: 0;
	padding-top: 5px;
}
}
.header h1,
.header h2 {
	color: #ffffff;
	text-align: center;
}

/* NAVIGATION */
.page-navigation {
	background-color: #4E9CB5;	
	min-height: 30px;	
}
@media screen and (min-device-width: 601px) {
.page-navigation li {
	float: left;
	width: 100px;
}
.page-navigation a {
	display: block;
	color: #ffffff;
	line-height: 2em;
	text-align: center;
}
.page-navigation li a:hover {
	color: #00718D;	
}
}
@media screen and (max-device-width: 600px) {
.page-navigation {
	min-height: 40px;	
}
.page-navigation li {
	float: left;
	width: 16.6%;
	text-align: center;
}
.page-navigation a {
	display: block;
	color: #ffffff;
	padding-top: 5px;
	text-align: center;
	font-size: 25px;
}
.page-navigation li a:hover {
	color: #00718D;	
}	
}

/* MAIN PART */
@media screen and (max-device-width: 600px) {
.container {
	margin-left: 0px;
	padding-left: 5px;
	width: 98%;
}

.title-text p {
	font-size: 28px;
}
.button_in_text button {
	width: 30%;
	height: 60px;
	font-size: 20px;
	border-radius: 30px;
}	
}
.depart {	
	text-align: center;
	color: #004160;	
}
.depart-titile {
	font-size: 25px;
}
.title-text {
	text-align: left;
}
@media screen and (min-device-width: 601px) {
.button_in_text button {
	width: 220px;
	height: 35px;
	font-size: 14px;
	border-radius: 18px;
}
}

.button_in_text button {
	border: 3px solid #7DAFFF;	
	background-color: #ffffff ;	
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 20px;
	display: block;
	color: #7DAFFF;
	font-weight: bold;
	display: inline-block;	
}
.button_in_text button:hover {
	background-color: #7DAFFF;
	color: #ffffff;	
}


.fb-like {
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
}

/* FOOTER */
.footer {	
	padding: 20px 10px 5px;	
}
.footer p {
	font-size: 10px;
	color: gray;	
}